/.settings
/.project
/.classpath
/.metadata
*/.settings
*/.gitignore
*/.project
*/.classpath
*/target
*/bin
target
*/hsf.configuration
*/logs/*
*/hsf.log*
logs
*.log*
/.idea
*/*.iml
*.iml
*/.DS_Store
tree.txt
deploy.bat